@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: rgb(53,166,154);
    background: radial-gradient(circle, rgba(53,166,154,1) 0%, rgba(228,242,228,1) 100%);
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6, p, small, legend, button, fieldset {
    font-family: 'Nunito', sans-serif;
}

.bg-green {
    background-color: #35a69a;
  }

.site-header .navbar-nav .nav-link {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 15px;
    margin-bottom: 20px;
}

li {
    border-radius: 5px;
    margin: 2px;
}

.chart-container {
    width: 1000px;
    height:600px
}